
.post:hover {
    filter: drop-shadow(0 0 10px #5fcdd9);
}
post__link {
	text-decoration: none;
	color: currentColor;
}

.post__sticky {
	position: absolute;
	padding: 10px;
}

.post__sticky_type_bottom-left {
	bottom: 0;
	left: 0;
}

.post__sticky_type_bottom-right {
	bottom: 0;
	right: 0;
}
.post__text__fild {
	max-width: 290px;
}

.header__logotip {
  height: 75px;
  width: 150px;
}
.header__logo {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.logOutBtn {
    color:white;
    background: rgb(52, 114, 195);
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px white);
    height: 40px;
    width: 40px;
    font-size: 10px;
    transition: .3s;
}
.logOutBtn:hover {
    filter: drop-shadow(0 0 10px white);
    transition: .3s;
}
.headerUserData {
    filter: drop-shadow(0 0 0px white);
    transition: .3s;
}
.headerUserData:hover {
    filter: drop-shadow(0 0 20px white);
    transition: .3s;
}


@media (max-width: 600px) {
    .projectName {
        /* font-size: 1vw; */
        display: none;
        
    }

    .headerUserData {
        font-size: .1em;
    }
}
.postlist__container {
  width: 100%;
  background-color: #f2e3d5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  padding: 80px;
  align-content: flex-start;
}
.postpage__infa {
  height: 37rem;
  color: #027373;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card__container {
  background-color: #fcfcfc;
  color: #027373;
  box-sizing: border-box;
  width: 350px;
  height: 700px;
  display: grid;
  grid-template-rows: 650px auto 1fr 20px;
  align-content: flex-start;
  /* box-shadow: 0 20px 30px#ebbb91; */
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  padding: 15px;
  margin: 15px;
}

.card__img {
  padding: 15px 0 15px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(650px - 35%);
  object-fit: cover;
}
.postlist__img {
  object-fit: cover;
}

.card__author {
  font-size: 1.1em;
  padding-top: 5px;
}

.card__title {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
}
.card__text {
  font-size: 1em;
  padding: 10px;
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.card__info {
  display: flex;
  justify-content: space-around;
}
.card__time {
  gap: 10px;
}
.card__like {
  font-size: 1.4em;
  cursor: pointer;
  fill: none;
  background: none;
  border: none;
  stroke: red;
  display: flex;
}

.card__like_active {
  border: none;
  background: none;
  fill: red;
  stroke: red;
}

.postlist__light {
  background-color: #fdf4eb;
}
.postlist__dark {
  background-color: rgb(81, 86, 92);
  color: #1bd1f1;
}
.logOutBtn {
  color: white;
  background: rgb(52, 114, 195);
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 2px white);
  height: 40px;
  width: 40px;
  font-size: 10px;
  transition: 0.3s;
}
.logOutBtn:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 0.3s;
}
.post__sticky {
  right: 10px;
  bottom: 3px;
  position: absolute;
  cursor: pointer;
}

main ~ {
  display: none;
}
@media (max-width: 600px) {
  .postlist__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mainpost {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5vw;
}
.post__card__header {
    min-height: 4em;
}


.button__homepage_top {

    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.button__homepage_bottom {

    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-bottom: 10vh;
    
}

.btn__home{
    text-decoration: none;
    color: currentColor;
}

.cart__bottom {
    display: flex;
    padding: 0 5px 2px 5px;
    justify-content: space-between;
}
.post_deleteBtn_icon:hover .post_delete_icon {
    color: red;
    }