.logo {
  filter:drop-shadow(0 0 2px gold);
}
.logo:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 0.3s;
}
.post:hover {
    filter: drop-shadow(0 0 10px #5fcdd9);
}
post__link {
	text-decoration: none;
	color: currentColor;
}

.post__sticky {
	position: absolute;
	padding: 10px;
}

.post__sticky_type_bottom-left {
	bottom: 0;
	left: 0;
}

.post__text__fild {
	max-width: 290px;
}

.header__logo {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.logOutBtn {
    color:white;
    background: rgb(52, 114, 195);
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px white);
    height: 40px;
    width: 40px;
    font-size: 10px;
    transition: .3s;
}
.logOutBtn:hover {
    filter: drop-shadow(0 0 10px white);
    transition: .3s;
}
.headerUserData {
    filter: drop-shadow(0 0 0px white);
    transition: .3s;
}
.headerUserData:hover {
    filter: drop-shadow(0 0 15px white);
    transition: .3s;
}


@media (max-width: 600px) {
    .projectName {
        display: none;
        
    }

    .headerUserData {
        font-size: .1em;
    }
}

.logOutBtn {
  color: white;
  background: rgb(52, 114, 195);
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 2px white);
  height: 40px;
  width: 40px;
  font-size: 10px;
  transition: 0.3s;
}
.logOutBtn:hover {
  filter: drop-shadow(0 0 10px white);
  transition: 0.3s;
}
.post__sticky {
  right: 10px;
  bottom: 3px;
  position: absolute;
  cursor: pointer;
}

main ~ {
  display: none;
}
@media (max-width: 600px) {
  .postlist__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mainpost {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5vw;
}
.post__card__header {
    min-height: 4em;
}
.button__homepage_top {

    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.button__homepage_bottom {

    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-bottom: 10vh;
    
}
.btn__home{
    text-decoration: none;
    color: currentColor;
}

.cart__bottom {
    display: flex;
    padding: 0 5px 2px 5px;
    justify-content: space-between;
}
.post_deleteBtn_icon:hover .post_delete_icon {
    color: red;
    }
    
.formUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(125, 229, 243);
    padding: 20px;
}

.formUserChangeLable {
    width: inherit;
    margin-top: 10px;
    font-size: medium;
}

.formUserChangeInput {
    width:max-content;
    border-radius: 6px;
    border: 1px solid rgb(8, 68, 219);
    padding: 4px;
    font-size: medium;
}

.formBtn {
    margin-top: 20px;
}