.header {
  background-color: #5FCDD9;
  top: 0;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 2;
}

.header__logotip {
  height: 70px;
  width: 150px;
}

.header__titlle {
  color: #027373;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
}

.header__button {
  text-decoration: none;
  border: none;
  color: #F2E3D5;;
/*   width: 100px;
  height: 50px;
  background-color: #F2E3D5;
  border: 1px #06575a;
  border-radius: 10px;
  box-shadow: 5px 5px 5px#a0aaa7;
  margin: 10px;
  font-size: 1em; */
}

.header__button:hover {
  box-shadow: none;
  cursor: pointer;
}

.postlist__conteiner {
  background-color: #F2E3D5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 50px;
  margin-bottom: auto;
  align-content: flex-start;
}

.card__conteiner {
  background-color: #fcfcfc;
  color: #027373;
  box-sizing: border-box;
  width: 500px;
  height: 850px;
  margin: 20px;
  padding: 10px 24px;
  display: grid;
  gap: 15px;
  flex-direction: column;
  grid-template-rows: 500px auto 1fr 30px;
  align-content: flex-start;
  position: relative;
  box-shadow: 0 15px 25px#e6c3a4;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.card__conteiner img {            
  justify-self: center;
  padding-top: 50px;
  position: absolute;display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 100%;
  height: calc(850px - 25%);
  object-fit: cover;
}

.card__author {
  font-size: 1.3em;
  padding-top: 5px;
}

.card__logotip {
  width: 60px;
  height: 20px;
  color: #5FCDD9;
}

.card__titlle {
  font-size: 1.3em;
  font-weight: 600;
}

.card__info {
  display: flex;
  justify-content: space-around;
  margin-top: calc(80px - 10%);
}
.card__time {
  gap: 10px;
}
.card__like {
  font-size: 2em;
  cursor: pointer;
  fill: none;
  stroke: red;
  background: none;
  border: none;
  padding: 0;
  display: flex;
}

.card__like_active {
  border: none;
  background: none;
  fill: red;
  stroke: red;
}
@keyframes card__like {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userpage__form {
  width: 500px;
  height: 950px;
  border: 1px #5FCDD9 solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  gap: 15px;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* overflow: hidden; */
}
.userpage__profile {
  width: 90%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close__icons {
  width: 2rem;
  height: 2rem;
}
.userpage__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px #5FCDD9 solid;
}

form {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
input {
  font-size: 30px;
  margin: 15px;
  padding: 10px;
}
label {
  display: block;
}
.postpage__conteiner {
  color: rgb(135, 201, 180);
  width: 900px;
  height: 450px;
  border: 1px #5FCDD9 solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.postpage__infa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post__like {
  padding-left: 50px;
  padding-right: 30px;
}
.clicker__like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px #5FCDD9 solid;
}
.postpage__like {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userpage__close {
  cursor: pointer;
  fill: none;
  stroke: none;
  background: none;
  border: none;
  padding: 0;
  display: flex;
}
.userpage__button {
  width: 25rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.userpage_submit {
  padding: 10px;
}

.post__link {
  text-decoration: none;
  color: currentColor;
}

main~ {
  display: none;
}
@media (max-width: 600px) {
  .postlist__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
