.err__container {
  width: 50vw;
  height: 50vh;
  font-size: 3rem;
  margin: 20px 20px;
  padding: 20px;
}

.err__image {
  width: 90%;
  height: 90%;
  background-image: url('../components/img/err.jpeg');
  background-repeat: no-repeat;
}

.userpage__form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  padding: 20px;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.5);
  transition: 0.5s all;
}
.userpage__form.active {
  transform: scale(1.5);
}

.userpage__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 1.5rem;
  display: flex;
}
.profile {
  display: flex;
  align-items: center;
  padding-right: 300px;
  color: #027373;
  font-size: 35px;
  font-weight: 600;
}
.closeI_icon {
  color: #027373;
  font-size: 40px;
}
.userpage__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px #5fcdd9 solid;
}

form {
  width: 600px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

input {
  width: 500px;
  border: #5fcdd9 solid;
  border-radius: 6px;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}

label {
  display: block;
}

.post__like {
  padding-left: 50px;
  padding-right: 30px;
}

.clicker__like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px #5fcdd9 solid;
}

.postpage__like {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userpage__button {
  width: 35rem;
  height: 3rem;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post__link {
  text-decoration: none;
  color: currentColor;
}
.mainpost {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5vw;
}
.singlePost__card__header {
    min-height: 4em;
}


.button__homepage_top {

    align-items: center;
    justify-content: center;
    margin: 40px;
    
}
.button__homepage_bottom {

    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-bottom: 10vh;
    
}

.btn__home{
    text-decoration: none;
    color: currentColor;
}

.cart__bottom {
    display: flex;
    padding: 0 5px 2px 5px;
    justify-content: space-between;
}
.post_deleteBtn_icon:hover .post_delete_icon {
    color: red;
    }

    
.sort-post {
  margin: -55px 20px 0 40px;
  position: fixed;
  display: flex;
  gap: 1rem;
}
.sort-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #78adad;
  padding: 5px;
  cursor: pointer;
}
