.header {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #7ff2d2;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logotip {
  height: 100px;
  width: 150px;
}
.header__titlle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}
.header__button {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.header__button:hover {
  box-shadow: 5px 5px 5px#a0aaa7;
}
