.search {
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	min-width: 200px;
}

.search__input {
	width: 100%;
	border-radius: 24px;
	border: 1px solid transparent;
	outline: none;
	padding: 10px 30px 10px 10px;
	margin: 0 10px 0 10px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #5e4fd3;
}

.search__input:focus {
	background: #FFFFFF;
	border: 1px solid #210bb4;
}

.search__input::placeholder {
	color: #2790c8;
}

.home__btn {
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	/* right: 40px; */
	display: flex;
}

.search__btn {
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 10px;
	display: flex;
}

.hidden{
	display: hidden;
}