.app__light {
  background-color: rgb(207, 226, 39);
}

.app__dark {
  background-color: darkgray;
}

/* .App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 33px 1fr 50px; 
} */
